@import "../../root.css";

:root {
  --background-white: #ffff;
  --background-red: #ff0037;
  --primary-blue: #0766ad;
  --blue-dark: #0d4c7c;
  --green-light: #c5e897;
  --green-dark: #9bbc6e;
  --black-light: #c0c0c0;
  --black-dark: #4e5656;
  --neutral-blue: #29adb2;
  --text-black: #3e4141;
  --text-white: #f3f3f3;
  --text-grey: #a7a7a7;
  --Desktop-Text-Heading1: 48px;
  --Desktop-Text-Heading2: 40px;
  --Desktop-Text-Heading3: 32px;
  --Desktop-Text-Heading4: 24px;
  --Common-Text-Subtitle: 20px;
  --Common-Text-Label: 16px;
  --Common-Text-Body1: 20px;
  --Common-Text-Body2: 16px;
  --Common-Text-Caption: 13px;
}

.text {
  font-size: 1rem;
}

.visa img {
  width: 100px;
}

.paypal img {
  width: 100px;
}

.card-show {
  display: flex;
  flex-direction: row;
}

.back-to-shopping-cart {
  display: flex;
  flex-direction: row;
  gap: 32px;
  background: var(--neutral-blue);
  padding: 32px;
  height: 100%;
}

.back-to-shopping-cart h2 {
  color: var(--text-white);
}

.get-start-btn {
  background: var(--primary-blue);
  color: var(--text-white);
  padding: 8px;
  border-radius: 8px;
}

.get-start-btn:hover {
  background: var(--green-light);
  color: var(--text-black);
}

.container-payment-page {
  display: flex;
  flex-direction: row;
  margin-left: 40px;
  gap: 64px;
}

.billing,
.payment {
  width: 50%;
  padding-top: 32px;
  display: flex;
  flex-direction: column;
}

.payment-page .form {
  margin-left: 32px;
  margin-bottom: 64px;
  margin-top: 0px;
}

.row-info-flex {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.proceed-check-out {
  background: var(--primary-blue);
  width: 50%;
  padding: 16px;
  border-radius: 8px;
  color: var(--text-white);
  margin-left: 32px;
  margin-bottom: 64px;
  margin-top: 24px;
}

.accept-card p {
  color: var(--primary-blue);
}

.proceed-check-out:hover {
  background: var(--green-light);
  color: var(--text-black);
}

.form label {
  margin-top: 16px;
}

.form input {
  border-radius: 5px;
  padding: 8px;
  border: 1px solid var(--primary-blue);
  width: 300px;
}

.form input:hover {
  border-color: var(--green-dark);
}

.cvv input {
  width: 100px;
}

@media (max-width: 650px) {
  .payment-page {
    width: 100vw;
  }

  .container-payment-page {
    flex-direction: column;
    margin: 0;
    gap: 0;
  }

  .back-to-shopping-cart {
    flex-direction: column;
  }

  .row-info-flex {
    flex-direction: column;
  }

  .billing,
  .payment {
    width: 100%;
  }

  .proceed-check-out {
    background: var(--primary-blue);
    width: 80%;
    padding: 16px;
    border-radius: 8px;
    color: var(--text-white);
    margin: 16px auto;
  }
}
