@import "../../root.css";

:root {
  --background-white: #ffff;
  --background-red: #ff0037;
  --primary-blue: #0766ad;
  --blue-dark: #0d4c7c;
  --green-light: #c5e897;
  --green-dark: #9bbc6e;
  --black-light: #c0c0c0;
  --black-dark: #4e5656;
  --neutral-blue: #29adb2;
  --text-black: #3e4141;
  --text-white: #f3f3f3;
  --text-grey: #a7a7a7;
  --Desktop-Text-Heading1: 48px;
  --Desktop-Text-Heading2: 40px;
  --Desktop-Text-Heading3: 32px;
  --Desktop-Text-Heading4: 24px;
  --Common-Text-Subtitle: 20px;
  --Common-Text-Label: 16px;
  --Common-Text-Body1: 20px;
  --Common-Text-Body2: 16px;
  --Common-Text-Caption: 13px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: var(--background-white);
}

.product-page {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 32px;
}

.product-page .filter-category {
  width: 30%;
}

.product-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 16px;
}

.product-page .title {
  font-size: var(--Desktop-Text-Heading4);
  text-align: center;
  color: var(--blue-dark);
  justify-content: center;
}

.product-page .text {
  font-size: var(--Common-Text-Body2);
  text-align: center;
  margin: 0 32px;
}

.product-page.show-filter {
  position: sticky;
  top: 0;
}

.product-page.show-filter.active {
  background: none;
}

.fa-xmark,
.fa-angles-right {
  display: none;
}

@media screen and (max-width: 768px) {
  .product-show {
    width: 100%;
    flex-direction: column;
  }

  .product-list {
    display: flex;
    flex-direction: column;
  }

  .product-show {
    width: 100%;
  }

  .product-page {
    flex-direction: column;
  }

  .show-filter {
    display: none;
    background: none;
    width: 100%;
    z-index: -1;
  }

  .show-filter.active {
    display: block;
    z-index: inherit;
  }

  .product-list {
    margin-left: 25px;
  }

  .fa-xmark,
  .fa-angles-right {
    display: block;
    color: #e0e0e0;
  }

  .filter-category .title {
    font-size: 20px;
    background: var(--neutral-blue);
    color: var(--text-white);
    border-radius: 8px;
    margin-left: 12px;
    width: 200px;
    display: flex;
    place-items: center;
    margin-bottom: 8px;
  }

  .filter-category p {
    margin-bottom: 0;
  }

  .filter-category .title i {
    padding: 8px;
  }
}
