@import "../../root.css";

:root {
  --background-white: #ffff;
  --background-red: #ff0037;
  --primary-blue: #0766ad;
  --blue-dark: #0d4c7c;
  --green-light: #c5e897;
  --green-dark: #9bbc6e;
  --black-light: #c0c0c0;
  --black-dark: #4e5656;
  --neutral-blue: #29adb2;
  --text-black: #3e4141;
  --text-white: #f3f3f3;
  --text-grey: #a7a7a7;
  --Desktop-Text-Heading1: 48px;
  --Desktop-Text-Heading2: 40px;
  --Desktop-Text-Heading3: 32px;
  --Desktop-Text-Heading4: 24px;
  --Common-Text-Subtitle: 20px;
  --Common-Text-Label: 16px;
  --Common-Text-Body1: 20px;
  --Common-Text-Body2: 16px;
  --Common-Text-Caption: 13px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: var(--background-white);
}

.product-detail {
  width: 100%;
  z-index: 0;

  border: none;
}

.product-detail .close-btn {
  position: absolute;
  color: var(--text-white);
  z-index: 100;
  background: var(--primary-blue);
  border-radius: 5px;
  padding: 8px;
  font-size: 0.8rem;
}

.product-detail .close-btn:hover {
  background: var(--green-light);
  color: var(--black-dark);
}

.img-container {
  margin-top: 64px;
}

.product-detail img {
  width: 100%;
  display: block;
}

.product-detail {
  min-height: 100vh;
  background-color: var(--primary-blue);
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-detail .container {
  position: relative;

  padding: 0 1rem;
  margin: 0 auto;
}

.product-detail .product-div {
  padding: 2rem, 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: var(--background-white);
  column-gap: 10px;
  margin: 64px 32px;
}

.product-detail .product-div-left,
.product-detail .product-div-right {
  padding: 16px;
}

.product-detail .img-container img {
  width: 300px;
  margin: 0 auto;
}

.product-detail .hover-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 16px;
}

.product-detail .hover-container div img {
  width: 100px;
  padding: 6px;
  cursor: pointer;
}

.product-detail .hover-container div:hover {
  border: 1px solid var(--primary-blue);
  border-radius: 6px;
  border-color: var(--primary-blue);
}

.product-detail .product-div-right span {
  display: block;
}

.product-detail .product-name {
  font-size: 26px;
  margin-bottom: 0px;
  font-weight: 700;
  letter-spacing: 1px;
  opacity: 0.9;
  color: var(--primary-blue);
}

.product-detail .product-name:hover {
  color: var(--blue-dark);
}

.product-detail .product-code {
  font-size: 18px;
  color: var(--text-grey);
}

.product-detail .product-price {
  font-weight: 700;
  font-size: 20px;
  opacity: 0.9;
  font-weight: 500;
}

.product-detail .product-price:hover {
  color: var(--green-dark);
}

.product-detail .product-description {
  font-size: 16px;
  line-height: 1.6;
  font-weight: 300;
  opacity: 0.9;
  margin-top: 22px;
}

.product-detail .title-features {
  color: var(--primary-blue);
  font-size: 18px;
}

.product-detail .feature-content li {
  font-size: 14px;
  line-height: 1.6;
  font-weight: 300;
  opacity: 0.9;
}

.product-detail .btn-submit-groups button {
  margin-right: 8px;
}

.product-detail .btn-submit-groups button .fas {
  margin-right: 8px;
}

.product-detail .add-cart-btn {
  background-color: var(--primary-blue);
  border: 2px solid var(--primary-blue);
  color: var(--text-white);
}

.product-detail .add-cart-btn:hover {
  background-color: var(--background-white);
  color: var(--primary-blue);
}

.product-detail .add-wishlist-btn {
  background-color: var(--green-light);
  border: 2px solid var(--green-light);
  color: var(--primary-blue);
}

.product-detail .add-wishlist-btn:hover {
  background-color: var(--background-white);
  border: 2px solid var(--green-light);
  color: var(--background-red);
}

.product-detail .buy-now-btn {
  background-color: var(--background-red);
  border: 2px solid var(--background-red);
  color: var(--text-white);
}

.product-detail .buy-now-btn:hover {
  background-color: var(--background-white);
  color: var(--background-red);
}

.product-detail .button-quantity button {
  padding: 6px;
  margin-top: 16px;
  border-radius: 6px;
}

.product-detail .button-quantity .increase {
  background-color: var(--primary-blue);
  border: 2px solid var(--primary-blue);
  color: var(--text-white);
}

.product-detail .button-quantity .increase:hover {
  background-color: var(--blue-dark);
  border: none;
  cursor: pointer;
}

.product-detail .button-quantity .decrease {
  background-color: var(--text-grey);
  border: 2px solid var(--text-grey);
  color: var(--text-white);
}

.product-detail .button-quantity .decrease:hover {
  background-color: var(--black-dark);
  border: none;
  cursor: pointer;
}

.product-detail .button-quantity input {
  padding: 8px;
  width: 64px;
  font-size: var(--Common-Text-Body1);
  text-align: center;
  color: var(--primary-blue);
  border: 2px solid var(--primary-blue);
  border-radius: 6px;
  margin: 8px;
}

.product-detail .btn-submit-groups button {
  display: inline-block;
  margin-top: 22px;
  font-size: var(--Common-Text-Label);
  font-family: inherit;
  text-transform: uppercase;
  border-radius: 6px;
  padding: 15px 16px;
  cursor: pointer;
  transition: all 0.3s ease;
}

@media screen and (max-width: 992px) {
  .product-detail .product-div {
    grid-template-columns: 100%;
  }

  .product-detail .product-div-right {
    text-align: center;
  }

  .product-detail .product-rating {
    justify-content: center;
  }

  .product-detail .product-description {
    max-width: 400px;
    margin-right: auto;
    margin-left: auto;
  }
}

@media screen and (max-width: 400px) {
  .product-detail .btn-groups button {
    width: 100%;
    margin-bottom: 10px;
  }

  .product-detail {
    background-color: var(--background-white);
  }

  .feature-content ul li {
    text-align: left;
  }

  .product-detail .product-div {
    padding: 0;
    display: flex;
    flex-direction: column;
    background-color: var(--background-white);
    column-gap: 10px;
  }
}
